include LICENSE
include README.md
include CHANGELOG.md
include NEWS
include original-README
include pyvoro/voroplusplus.pyx
include pyvoro/vpp.h
include pyvoro/vpp.cpp
recursive-include src *.cc *.hh
exclude pyvoro/voroplusplus.cpp
recursive-include tests *.py
